body{
	background-color: rgba(255, 99, 122, 0.79);
}

.grid-container {
	display: grid;
	grid-gap: 10px;
	padding: 14px;
	background-color: #363638;
	grid-template-columns: auto auto auto auto;
	border-radius: 15px;
}

.grid-item {
	text-align: center;
	padding: 10px;
	font-size: 30px;
	border-radius: 4px;
	font-family: "Lucida Console", Courier, monospace;
	color: white;
	border: none;
}

.display {
	grid-column: 1 / 5;
	grid-row: 1;
	height: 60px;
	text-align: right;
	background-color: #9bb873;
	color: black;
	border-radius: 12px;
	font-size: 50px;
}

.buttonUpper {
	background-color: #161012;
}

.buttonNum {
	background-color: #595a5c;
}

.buttonNum0 {
	background-color: #595a5c;
	grid-column: 1 / 3;
}

.equal {
	background-color: #fd4414;
	grid-column: 4 / 5;
	grid-row: 5 / 7;
	line-height: 120px;
}





